@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply font-sans;
    }
  }

  body, html{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
  }

.filter-container, .filter-container * {
    overflow: visible !important;
}

.filter-menu {
    transform-origin: top center;
    animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}


