@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply font-sans;
    }
  }

  body, html{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
  }